<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>89509345177-048jl5uup02m7l45bgs7u5ul2h5jsee0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.89509345177-048jl5uup02m7l45bgs7u5ul2h5jsee0</string>
	<key>API_KEY</key>
	<string>AIzaSyAVbrW0igsCDDJyC4qP8tkCm5sFNrHt7-g</string>
	<key>GCM_SENDER_ID</key>
	<string>89509345177</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.login1.loginApp1</string>
	<key>PROJECT_ID</key>
	<string>login-app-1-1471b</string>
	<key>STORAGE_BUCKET</key>
	<string>login-app-1-1471b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:89509345177:ios:1fc68e7e1685d6238e0508</string>
</dict>
</plist>